
/* Aggiustamento della risoluzione e posizionamento */
#test {
  width: 640px;
  margin: 0 auto;
  position: relative;
}

.container #test video, .container #test canvas {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
}

canvas.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
}