/* Reset */
img {
  max-width: 100%;
  max-height: 100%;
}

body {
  height: 100vh;
  background-color: darkgray;
}

a {
  text-decoration: none;
  color: rgb(255, 103, 86);
}

/* Aggiustamento della risoluzione e posizionamento */
#test {
  width: 640px;
  margin: 0 auto;
  position: relative;
}

.container #test video, .container #test canvas {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
}

canvas.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
}

/* Navbar */

.em-nav {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: bisque;
}

.em-nav a:hover {
  color: brown;
}