a {
  text-decoration: none;
  color: rgb(255, 103, 86);
}

.em-nav {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: bisque;
}

main {
  min-height: calc(100vh - 70px);
  padding-top: 2.5rem;
  background-color: darkgray;
}

img {
  max-width: 100%;
  max-height: 100%;
}


body {
  height: 100vh;
  background-color: darkgray;
}